<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015665267662-auoiomiunvlsbquhic5t8brqnlv3crcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015665267662-auoiomiunvlsbquhic5t8brqnlv3crcr</string>
	<key>API_KEY</key>
	<string>AIzaSyB8TFtf9IMJSA18-4t1EOTsxMPmsm4DjJo</string>
	<key>GCM_SENDER_ID</key>
	<string>1015665267662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat-app</string>
	<key>PROJECT_ID</key>
	<string>flutter-update-81cd0</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-update-81cd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015665267662:ios:b25776b201a1593682d19f</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-update-81cd0-default-rtdb.firebaseio.com</string>
</dict>
</plist>